html
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Brush Script MT';
    color: #05535f
}

h2 {
    font-size: 40px;
    font-family: 'Brush Script MT';
    color: #05535f;
}

h3{
    font-size: 40px;
    font-family: 'Brush Script MT';
    color: #05535f;
}

p { 
    text-align: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.content-justify {
    text-align: justify;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

li {
    color: rgb(128, 11, 0);
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    
    width: 15%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 100%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    font-family: 'Noto Sans', 'Noto Sans JP', 'sans-serif';
    font-weight: 'bold';
    font-size: 25px;
    border: 3px solid black;
    width: 100%;
}
  
td {
    border: 1px solid black;
    padding: 5px;
}
th {
    border: 1px solid black;
    padding: 5px;
    width: 50%
}